<!doctype html>

<html lang="en">
<head>
  {{> meta }}
</head>

<body ng-app="stufreen" initialize-scroll-reveal>

  {{> header }}
  
  {{> blurb }}

  {{> work }}

  {{> about }}
  
  {{> contact }}

  {{> scripts }}
  
</body>
  
</html>