<div class="contact" id="contact" ng-controller="ContactController">

  <h2>Contact</h2>

  <div class="container">

    <div data-sr='vFactor 0.3 wait 0.2s scale 0%' class="contact-details">
      <p class="contact-phone"><img src="assets/img/phone-icon.png" alt="Phone:"/>(416) 556-0723</p>
      <p class="contact-email"><img src="assets/img/email-icon.png" alt="Email:"/>stufreen@gmail.com</p>
    </div>

    <div class="contact-form">

      <p class="form-title"><a name="form">Email Stu</a></p>
    
      <form method="post" 
        name="contact_form"
        novalidate
        ng-submit="submitContactForm(contact_form.$valid)">

        <label id="name">
          <div>
            <span>Name</span>
            <input type="text" name="name" ng-model="responses.name" required ng-disabled="contactFormSubmitting"/>
            <p class="form-error">Name required</p>
          </div>
        </label>
       
        <label id="email">
          <div>
            <span>E-mail</span>
            <input type="email" name="email" ng-model="responses.email" required ng-disabled="contactFormSubmitting"/>
            <p class="form-error">Valid email address required</p>
          </div>
        </label>
        
        <label id="description">
          <div>
            <span>Message</span>
            <textarea type="text" name="description" ng-model="responses.description" required ng-disabled="contactFormSubmitting"></textarea>
            <p class="form-error">Please enter a message</p>
          </div>
        </label>
        
        <input type="submit" name="submit" id="submit" value='Send' ng-disabled="contactFormSubmitting"/>

      </form>
    </div><!--end contact-form-->
  </div><!--end container-->

  <div class="success-overlay" ng-show="successOverlayOpen" ng-click="successOverlayOpen = false" ng-cloak></div><!--end success-overlay-->

  <div class="success-message" ng-show="successOverlayOpen" ng-cloak>
    <p>Thanks! Your message was sent. Stu will get back to you shortly.</p>
    <a ng-click="successOverlayOpen = false">Okay</a>
  </div><!--end success-message-->

</div><!--end contact-->