<div class="header">
  <div class="container">
    <a href="./"><img src="assets/img/stufreen.svg" alt="Stu Freen Design" id="banner"></a>
  </div><!--end container-->
</div><!--end header-->

<div class="menu">
  <div class="container">
    <a href="#work" class="smooth-scroll">Work</a><a href="#about" class="smooth-scroll">About</a><a href="#contact" class="smooth-scroll">Contact</a>
  </div><!--end container-->
</div><!--end header-->