<meta charset="utf-8">

<title>{{#if title}}{{ title }}{{/if}}</title>

{{#if description}}<meta name="description" content="{{ description }}" />{{/if}}
{{#if author}}<meta name="author" content="{{ author }}" />{{/if}}
<meta name="viewport" content="initial-scale=1.0">

<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.stufreen.com" />
<meta property="og:image" content="http://www.stufreen.com/assets/img/sflogo.jpg" />
<meta property="og:description" content="{{ description }}" />

<base href="/">

<link rel="icon" type="image/x-icon" href="./favicon.ico">
<meta name="theme-color" content="#b0635b">
<link rel="Shortcut Icon" type="image/x-icon" href="./favicon.ico">
<link rel="apple-touch-icon-precomposed" href="./images/icon-57.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="./images/icon-72.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="./images/icon-114.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="./images/icon-144.png">

<link rel="stylesheet" href="assets/css/style.min.css" />
<link rel="stylesheet" href="assets/css/vendor.css" />

<!--[if lt IE 9]>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->