<div class="work" id="work">
  <h2>Work</h2>  
  <div class="container">
    <div class="work-focus" id="work-focus">
      {{#each collections.projects}}
        <div
          class="work-focus-item {{#if @first}}desktop-show mobile-show{{/if}}"
          data-project-key="project-{{@index}}"
        >
          <a href='{{#if link }}{{ link }}{{ else }}assets/img/works/{{ image }}{{/if}}' {{#if link}} target='_blank' {{/if}}>
            <img src='assets/img/works/{{bigThumb}}'  alt='{{shortDescription}} &ndash; {{title}}'/>
          </a>
          <h3>{{title}}</h3>
          {{{ contents }}}
        </div>
      {{/each}}
    </div>
    <!--end work-focus-->

    <div class="work-nav">
      <div class="swiper-container" id="work-swiper">
        <div class="swiper-wrapper">
          {{#each collections.projects}}
            <div class='swiper-slide'>
              <button class='nav-work group load-project-link' data-project-key="project-{{@index}}">
                <div class='thumb-frame'>
                  <img src='assets/img/works/{{thumbnail}}' alt='{{shortDescription}} &ndash; {{title}}'/>
                </div>
                <h4>{{shortDescription}}</h4>
                <p>{{title}}</p>
              </button>
            </div>
          {{/each}}
        </div>
        <div class="swiper-scrollbar"></div>
      </div><!--end swiper-container-->
    </div><!--end work-nav-->

  </div><!--end container-->
</div><!--end work-->

<div class="more-work">
  <div>
    <button id="load-more-button" class="show-more more-link">See more work</button>
  </div>
</div>